In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sys

In [28]:
# Files are named the same way except they have different years, from 1999 t0 2016
counter = 0
df = {}    # Dataframe of dataframes
for y in range(1999, 2017):
    file = 'data/Freedom_of_Information_Requests__' + str(y) + '.csv'
    df[counter] = pd.read_csv(file)
    counter += 1

In [29]:
# Number of files read and turned into dataframes
len(df)

18

In [30]:
# Originally, index is set to zero. I want to to be set to '1'
for y in range(0, 18):
    #df[y].reset_index()
    df[y].index+=1

In [31]:
df[0].head(3)

,Request_Number,Request_Type,Source,Summary_of_Request,Decision,OBJECTID
1,99001,General Information,Business,Minutes of Service Delivery Subcommittee of ES...,Partly exempted,0
2,99002,General Information,Business,Public Health inspection reports for the {loca...,All disclosed,1
3,99003,General Information,Business,Public Health inspection records for {location...,Partly exempted,2

In [32]:
# Want to know if they have the same number of columns
for y in range(0, 18):
    print(df[y].shape)

(27, 6)
(19, 6)
(25, 6)
(20, 6)
(24, 6)
(22, 6)
(22, 6)
(23, 6)
(24, 6)
(30, 6)
(39, 6)
(29, 6)
(43, 6)
(41, 6)
(33, 6)
(30, 6)
(43, 6)
(82, 6)

In [33]:
df[0].shape[1]

6

In [34]:
# How to get the name of the columns
columnsNamesArr = df[0].columns.values
print(columnsNamesArr)
columnsNamesArr[5]

['Request_Number' 'Request_Type' 'Source' 'Summary_of_Request' 'Decision'
 'OBJECTID']

'OBJECTID'

In [41]:
# Start an array with the names of the columns for all the 18 files.
columnsNamesArr={}
for y in range(0, 18):
    columnsNamesArr[y] = df[y].columns.values

print(columnsNamesArr[1][0])
print(columnsNamesArr[15][0])

Request_Number
Request_Number:

In [42]:
# Find out if they have the same columns or not. Check with lower case, and strip spaces and colons
for i in range(0, 17):
    for j in range(0, df[0].shape[1]):
        #print(i, j)
        assert columnsNamesArr[i][j].lower().strip(' :') == columnsNamesArr[i+1][j].lower().strip(' :'), \
        "Columns are different %s %s" % (columnsNamesArr[i][j], columnsNamesArr[i+1][j])

In [43]:
# Just checking the range is correct
for j in range(0, df[0].shape[1]):
    print(j)

0
1
2
3
4
5

In [44]:
# Some columns have colons
print(columnsNamesArr[1][0])
print(columnsNamesArr[1][0], columnsNamesArr[15][0])

Request_Number
Request_Number Request_Number:

In [45]:
# Just checking the statement above
print(columnsNamesArr[1][0].lower().strip(' :'), columnsNamesArr[15][0].lower().strip(' :'))

request_number request_number

In [46]:
df[0].columns.values[0]

'Request_Number'

In [47]:
# Go directly to the dataframes and change the column names by stripping spaces and colons
for i in range(0, 18):
    for j in range(0, df[0].shape[1]):
        df[i].columns.values[j] = df[i].columns.values[j].strip(' :')

In [48]:
# Check if it worked
print(df[1].columns.values[0])
print(df[15].columns.values[0])

Request_Number
Request_Number

In [55]:
# Concatenate the dataframes into a single one
adf = pd.concat(df, ignore_index = True)

In [56]:
# Check shape
adf.shape

(576, 6)

In [57]:
adf.head(29)

,Request_Number,Request_Type,Source,Summary_of_Request,Decision,OBJECTID
0,99001,General Information,Business,Minutes of Service Delivery Subcommittee of ES...,Partly exempted,0
1,99002,General Information,Business,Public Health inspection reports for the {loca...,All disclosed,1
2,99003,General Information,Business,Public Health inspection records for {location...,Partly exempted,2
3,99004,General Information,Public,Public Health inspection records for {address ...,All disclosed,3
4,99005,General Information,Business,Vendor list report with total of year-to-date ...,All disclosed,4
5,99006,Personal Information,Public,Public Health inspection file for {name remove...,All disclosed,5
6,99007,General Information,Public,Scope of work and deliverables sections of con...,All disclosed,6
7,99008,General Information,Public,Number of contracts and dollar amount of contr...,Withdrawn,7
8,99009,Personal Information,Public,Public Health inspection report regarding a co...,All disclosed,8
9,99010,General Information,Business,Phase I environmental site assessment regardin...,Withdrawn,9
10,99011,General Information,Business,Complete fiscal year end vendor report for yea...,Partly non-existent,10
11,99012,Personal Information,Public,A complete copy of Income Maintenance client f...,All disclosed,11
12,99013,General Information,Individual by Agent,Rabies control records related to dog bite aff...,Partly exempted,12
13,99014,Personal Information,Public,Home Child Care Provider file for {name remove...,Partly exempted,13
14,99015,General Information,Business,Records relating to complaint about {location ...,All disclosed,14
15,99016,Personal Information,Public,Financial records documenting {name removed} e...,All disclosed,15
16,99017,Personal Information,Public,Minutes and notes relating to {name removed} m...,Partly exempted,16
17,99018,General Information,Business by Agent,"All files relating to tendering, construction,...",Withdrawn,17
18,99019,General Information,Public,List of all radio frequencies used by Region o...,Forwarded out,18
19,99020,General Information,Business,Copies of purchase orders for last 12 months i...,Withdrawn,19
20,99021,Personal Information,Public,{Name removed} personnel file for the period 1...,Withdrawn,20
21,99022,Personal Information,Public,"Complaint dated November 1, 1999 in {name remo...",Partly exempted,21
22,99023,General Information,Business,"All reports, studies and documents pertaining ...",No record exists,22
23,99024,Personal Information,Public,Home Child Care Provider file for {name remove...,Partly exempted,23
24,99025,General Information,Individual by Agent,By-Law officer's notes regarding charges again...,No record exists,24
25,99026,General Information,Public,List of all taxi license owners in the City of...,Nothing disclosed,25
26,99027,Personal Information,Public,Complaint regarding alleged fraud accusation m...,Withdrawn,26
27,2000001,General Information,Business by Agent,Correspondence from 1996 to 1997 regarding Sha...,Withdrawn,0
28,2000002,General Information,Business,Quotation Q99-1154 bidders and pricing informa...,Withdrawn,1

In [62]:
adf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 6 columns):
Request_Number        576 non-null int64
Request_Type          576 non-null object
Source                576 non-null object
Summary_of_Request    576 non-null object
Decision              576 non-null object
OBJECTID              576 non-null int64
dtypes: int64(2), object(4)
memory usage: 27.1+ KB

In [75]:
adf.Request_Type.unique()

array(['General Information', 'Personal Information', 'Correction',
       'Personal Information/General Information',
       'Personal Health Information/General Information',
       'Personal Health Information',
       'Personal Health Information/General Informaiton',
       'General Records', 'Personal', 'General'], dtype=object)

In [84]:
adf['Request_Type'] = adf['Request_Type'].str.strip()
print(adf.Request_Type.nunique())
adf.Request_Type.value_counts()

10

General Information                                283
Personal Information                               110
General                                             76
Personal                                            47
General Records                                     36
Personal Health Information/General Information     16
Personal Health Information                          3
Correction                                           2
Personal Information/General Information             2
Personal Health Information/General Informaiton      1
Name: Request_Type, dtype: int64

In [85]:
adf['Source'] = adf['Source'].str.strip()
print(adf.Source.nunique())
adf.Source.value_counts()

8

Business                    198
Public                      132
Individual by Agent         107
Individual by agent          59
Individual                   40
Media                        20
Business by Agent            19
Individual for dependant      1
Name: Source, dtype: int64

In [86]:
adf['Decision'] = adf['Decision'].str.strip()
print(adf.Decision.nunique())
adf.Decision.value_counts()

21

All disclosed                                      160
Partly exempted                                    102
Withdrawn                                           79
No records exist                                    51
Information disclosed in part                       50
Partly non-existent                                 23
Nothing disclosed                                   20
All Information disclosed                           16
No record exists                                    15
Abandoned                                           13
All information disclosed                           13
Forwarded out                                       12
No responsive records exist                         11
Non-existent                                         3
Transferred to Region of Waterloo Public Health      2
Correction refused                                   1
No additional records exist                          1
Correction granted                                   1
Transferred                                          1
No information disclosed                             1
Request withdrawn                                    1
Name: Decision, dtype: int64

In [87]:
adf['Request_Type'] = adf['Request_Type'].str.replace('Informaiton','Information')

In [91]:
print(adf.Request_Type.nunique())
adf.Request_Type.value_counts()

9

General Information                                283
Personal Information                               110
General                                             76
Personal                                            47
General Records                                     36
Personal Health Information/General Information     17
Personal Health Information                          3
Correction                                           2
Personal Information/General Information             2
Name: Request_Type, dtype: int64

In [92]:
adf['Source'] = adf['Source'].str.replace('Individual by agent','Individual by Agent')

In [93]:
print(adf.Source.nunique())
adf.Source.value_counts()

7

Business                    198
Individual by Agent         166
Public                      132
Individual                   40
Media                        20
Business by Agent            19
Individual for dependant      1
Name: Source, dtype: int64

In [94]:
adf['Decision'] = adf['Decision'].str.replace('Nothing disclosed','No information disclosed')

In [99]:
adf['Decision'] = adf['Decision'].str.replace('All disclosed','All information disclosed')

In [100]:
adf['Decision'] = adf['Decision'].str.replace('All Information disclosed','All information disclosed')

In [96]:
adf['Decision'] = adf['Decision'].str.replace('No record exists','No records exist')

In [97]:
adf['Decision'] = adf['Decision'].str.replace('Withdrawn','Request withdrawn')

In [101]:
print(adf.Decision.nunique())
adf.Decision.value_counts()

16

All information disclosed                          189
Partly exempted                                    102
Request withdrawn                                   80
No records exist                                    66
Information disclosed in part                       50
Partly non-existent                                 23
No information disclosed                            21
Abandoned                                           13
Forwarded out                                       12
No responsive records exist                         11
Non-existent                                         3
Transferred to Region of Waterloo Public Health      2
Transferred                                          1
Correction granted                                   1
Correction refused                                   1
No additional records exist                          1
Name: Decision, dtype: int64

In [ ]:
# Check Source: is Public == Individual?
# Check Decision: no responsive records exist == Non-existent == no records exist ?
#                 no additional records exist == partly non-existent ?
# Check Request_Type: General Information == General == General Records
#                    Personal Information == Personal